.look__comment {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: auto;

  color: #999;
}

.look__comment:active {
  text-decoration: underline;
}

.look__comment:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .look__comment {
    font-size: .75rem;
    line-height: 1rem;
  }
}
