@import url(./__button/search__button.css);
@import url(./__input/search__input.css);
@import url(./__search-field/search__search-field.css);
@import url(./__navigation/search__navigation.css);

.search {
  margin-left: 33px;
}

@media screen and (max-width: 768px) {
  .search {
    margin-right: 33px;
  }
}

@media screen and (max-width: 768px) {
  .search {
    margin-right: 8px;
    margin-left: 8px;
  }
}
