.table__paragraph {
  text-decoration: none;
  margin: auto auto auto 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
}

.table__paragraph:active {
  text-decoration: underline;
}

.table__paragraph:hover {
  text-decoration: underline;
}
