.comment__container {
  border-radius: 3px;
  max-width: 100%;
  margin-top: 8px;
  padding: 16px;
  margin-bottom: 42px;
}

@media screen and (max-width: 768px) {
  .comment__container {
    position: relative;
    width: 50%;
  }
}
