.container-horizon {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  margin-bottom: 120px;
}

@media screen and (max-width: 768px) {
  .container-horizon {
    display: block;
  }
}
