.search__search-field {
  position: relative;
  margin-top: 16px;
  margin-bottom: 32px;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .search__search-field {
    margin-top: 10px;
    margin-bottom: 26px;
  }
}
