.table__user {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 1024px) {
  .table__user {
    font-size: 0.5rem;
    line-height: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .table__user {
    display: none;
  }
}
