@import url(./__container/rating-area__container.css);

.rating-area {
  display: grid;
  grid-template-columns: 80px auto;
  gap: 8px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .rating-area {
    display: block;
  }
}

