.look__button {
  width: 238px;
  height: 40px;

  border: 1px solid #00C346;
  box-sizing: border-box;
  border-radius: 3px;

  font-family: 'Roboto';
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin-right: 0;
  margin-left: auto;
  background: white;
}

.look__button:hover {
  background: #00C346;
  color: #FFF;
}

.look__button:active {
  background: #00C346;
  color: #FFF;
}
