.table__row-main {
  margin-top: 16px;
  padding: 8px 16px;
  display: grid;
  grid-template-columns: 70px 286px 60px 44px auto;
  gap: 16px;

  border-radius: 3px;
}

@media screen and (max-width: 1250px) {
  .table__row-main {
    padding: 12px;
    grid-template-columns: 55px 186px 50px 34px auto;
    gap: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .table__row-main {
    padding: 9px;
    grid-template-columns: 35px 106px 30px 24px auto;
  }
}

@media screen and (max-width: 768px) {
  .table__row-main {
    grid-template-columns: 55px 186px 50px 34px auto;
  }
}

@media screen and (max-width: 520px) {
  .table__row-main {
    grid-template-columns: 35px 66px 15px 24px auto;
    gap: 4px;
    padding: 5px;
  }
}
