@import url(./__item/advertising__item.css);

.advertising {
  margin: 32px 33px;

  display: grid;
  grid-template-rows: 320px 320px;
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .advertising {
    gap: 9px;
    margin: 32px 13px;
  }
}

@media screen and (max-width: 768px) {
  .advertising {
    display: none;
  }
}
