.about-company__grid {
  margin-top: 42px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .about-company__grid {
    display: block;
  }
}
